body {
    background-color: #fff5ee;
    margin: 0;
    padding: 0;
}


/* INDEX.HTML START */
.headline1 {
    width: 100%;
    height: 3.5rem;

    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.75rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
}
.container{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.button {
    margin-top: 50px;
    background-color: white;
    border: none;
    border-radius: 25px;
    
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    line-height:normal;
    text-align: center;
    text-decoration: none;
}
.href:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
	text-decoration-thickness: 3px;
}
.butt1 {
    position: relative;
    width: 35rem;
}
.butt2 {
    position: relative;
    width: 13rem;
}
.butt2:last-child{
    margin-bottom: 2.5rem;
}
.href{
    text-decoration: none;
    color: black;
}


/* INDEX.HTML END */



/*NumSys.html START*/

.headline2 {
    position:relative;
    width: 67.6rem;
    left:calc(50% - 67.5rem/2);

    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.75rem;
    text-align: center;
    color: rgba(0, 0, 0, .85);
}
.line{
    color:black;
    margin-top: -1.875rem;
    width: 48rem;
}
.burger{
    position: fixed;
    margin: 2rem 0 0 2rem;
    z-index: 1;
    cursor: pointer;
    height: 20px;
    width: 25.8px;
}
.aside .hid{
    visibility: hidden;
    height: 0;
}
.sidebar {
    position:fixed;
    top: 0;
    left: 0;
    background-color:rgb(255,239,231);
    height: 100vh;
    width: 15rem;
    z-index: 2;
    transition: 0.4s;
    border-radius: 0 20px 20px 0;
}
.sidebut{
    position: relative;
    width: 9rem;
    background-color: white;
    border-radius: 25px;
    border: none;
    align-items: center;
    margin: 3rem 3rem 0 3rem;

    font-family: 'Rubik',sans-serif;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    align-items: center;
    }
.sidebut:first-child{
    margin-top: 8rem;
}
.dttitle:hover:after{
    content: attr(data-title);
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 0.85rem;
    position: fixed;
    left:0.25rem;
    right:0;
    top: 4rem;
    width: 6.3rem;
    text-align: left;
    color:rgba(0, 0, 0, 0.9);
    z-index: 1;
    text-align:left;
    font-style: italic;
}

.page{
    position: relative;
    background-color: white;
    border-radius: 25px;
    margin: 3.4375rem 6.5625rem 2rem 6.5625rem;

    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
    padding: 1.5rem;
    line-height: 1.3;
    -text-indent: 2rem;
    
}
h2{
    font-weight: 400;
    text-align: center;
    padding: 1rem auto 1.5rem auto;
}
sub{
    font-size:medium;
}
sup{
    font-size:medium;
}
.ibold{
    font-weight: 400;
}

/* NumSys.html END */



/*ArifSS.html START*/

.perpict{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.perevodimg{
    height: 72px;
}
.gorner{
    float:left;
    margin: auto 6rem auto 3.4375rem;
}
ol{
    display: flex;
    flex-direction: column;
}
.oneimg{
   text-align: center;
}

/*ArifSS.html END*/



/*Test.html START*/
input{
    background-color: #fff5ee;
    border: 1px solid black;
    margin: 1rem 2.5rem 1rem 0;
    border-radius: 15px;

    line-height: 2rem;
    font-size: 1.25rem;
    font-family:"Rubik", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}
.ansbutt{
    background-color: #fff5ee;
    border: 1px solid black;
    margin-bottom: 2.5rem;
    width: 50rem;
    border-radius: 25px;
    cursor: pointer;

    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.6rem;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
.result{
    background-color: #fff5ee;
    border: 1px solid black;
    margin: 1rem auto 2.5rem auto;
    position:relative;
    width: 50rem;
    border-radius: 25px;
    
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.6rem;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
.hidden {
    visibility: hidden;
    height: 0;
    margin: 0;
}
.olmargin{
    margin-top: 2rem;
}

/*Test.html END*/



/*Author.html START*/
.gif{
    text-align: center;
    margin: 3rem auto 2rem auto;
    border: none;
}
.quote{
    margin-top: 1rem;
    text-align: right;
    font-weight: 400;
}
.left{
    text-align: left;
}

/*Author.html END*/